:root {
	--app-background-bgcolor: #FFFFFF;
	--app-background-color: #000000;
	--app-toolbar-bgcolor: #FFFFFF;
	--app-toolbar-color: #727F7F;
	--app-toolbar-color-hover: #000000;
	--app-toolbar-color-onactive: #000000;
	--app-toolbar-panel-bgcolor: #F1F0F1;
	--app-toolbar-panel-color: #000000;
	--app-notification-bgcolor: #094771;
	--app-notification-color: #FFFFFF;
	--app-statusbar-bgcolor: #017ACD;
	--app-statusbar-color: #FFFFFF;
	--app-invert-img: 0;
	--app-toolbar-panel-resize-bgcolor: #0099FF;
	--app-tabs-button-color-hoverbg: #dbdbdb;
	
}

.theme-dark {
	--app-background-bgcolor: #1E1E1E;
	--app-background-color: #FFFFFF;
	--app-toolbar-bgcolor: #333333;
	--app-toolbar-color: #727F7F;
	--app-toolbar-color-hover: #FEFEFF;
	--app-toolbar-color-onactive: #017ED4;
	--app-toolbar-panel-bgcolor: #252526;
	--app-toolbar-panel-color: #FFFFFF;
	--app-notification-bgcolor: #094771;
	--app-notification-color: #FFFFFF;
	--app-statusbar-bgcolor: #017ACD;
	--app-statusbar-color: #FFFFFF;
	--app-invert-img: 1;
	--app-toolbar-panel-resize-bgcolor: #0099FF;
	--app-tabs-button-color-hoverbg: #424242;
}

.dark-blue {
	--app-background-bgcolor: #2A2C3F;
	--app-background-color: #FFFFFF;
	--app-toolbar-bgcolor: #2A2C3F;
	--app-toolbar-color: #727F7F;
	--app-toolbar-color-hover: #FEFEFF;
	--app-toolbar-color-onactive: #017ED4;
	--app-toolbar-panel-bgcolor: #222336;
	--app-toolbar-panel-color: #FFFFFF;
	--app-notification-bgcolor: #094771;
	--app-notification-color: #FFFFFF;
	--app-statusbar-bgcolor: #017ACD;
	--app-statusbar-color: #FFFFFF;
	--app-invert-img: 1;
	--app-toolbar-panel-resize-bgcolor: #0099FF;
	--app-tabs-button-color-hoverbg: #424242;
}