:root {
	--app-background-bgcolor: #FFFFFF;
	--app-background-color: #000000;
	--app-toolbar-bgcolor: #333333;
	--app-toolbar-color: #FFFFFF;
	--app-toolbar-panel-bgcolor: #FFFFFF;
	--app-toolbar-panel-color: #000000;
	--app-notification-bgcolor: #094771;
	--app-notification-color: #FFFFFF;
	--app-statusbar-bgcolor: #0099FF;
	--app-statusbar-color: #FFFFFF;
	--app-invert-img: 0;
	
}

.theme-dark {
	--app-background-bgcolor: #1E1E1E;
	--app-background-color: #FFFFFF;
	--app-toolbar-bgcolor: #333333;
	--app-toolbar-color: #FFFFFF;
	--app-toolbar-panel-bgcolor: #252526;
	--app-toolbar-panel-color: #FFFFFF;
	--app-notification-bgcolor: #094771;
	--app-notification-color: #FFFFFF;
	--app-statusbar-bgcolor: #0099FF;
	--app-statusbar-color: #FFFFFF;
	--app-invert-img: 1;
}
