@import './arcode-colors.scss';

* {
	box-sizing: border-box;
}
html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
body {
	background-color: var(--app-background-bgcolor);
	color: var(--app-background-color);
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.text-left {
	text-align: left;
}
.arcode-main-toolbar .menu-container  {
	background-color: var(--app-toolbar-bgcolor);
	color: var(--app-toolbar-color);
}
.arcode-main-toolbar .side-container  {
	background-color: var(--app-toolbar-panel-bgcolor);
	color: var(--app-toolbar-panel-color);
}
.arcode-notification-container {
	background-color: var(--app-notification-bgcolor);
	color: var(--app-notification-color);
}
.arcode-status-bar {
	background-color: var(--app-statusbar-bgcolor);
	color: var(--app-statusbar-color);
}


.arcode-workspace .logo {
 -webkit-filter: Invert(var(--app-invert-img));
  filter: Invert(var(--app-invert-img));
}

.arcode-workspace .workspace .tabs {
  background-color: var(--app-toolbar-panel-bgcolor);
}

.arcode-workspace .workspace .editor {
	background-color: var(--app-background-bgcolor);
	color: var(--app-background-color);
}

.arcode-workspace .workspace .editor .ͼ2 .cm-content {
  caret-color: var(--app-background-color);
}
