@import './arcode-colors.scss';

* {
	box-sizing: border-box;
}
html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
body {
	background-color: var(--app-background-bgcolor);
	color: var(--app-background-color);
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.text-left {
	text-align: left;
}
.arcode-main-toolbar .menu-container  {
	background-color: var(--app-toolbar-bgcolor);
}

.menu-container .toolbar-menu li a {
	color: var(--app-toolbar-color);
	
}
.menu-container .toolbar-menu li a:hover {
	color: var(--app-toolbar-color-hover);
}

.menu-container .toolbar-menu li a:active {
	border-left: 2px solid var(--app-toolbar-color-onactive);
}
.menu-container .toolbar-menu li a.active {
	color: var(--app-toolbar-color-hover);
	border-left: 2px solid var(--app-toolbar-color-hover);
}
.arcode-main-toolbar .side-container {
	background-color: var(--app-toolbar-panel-bgcolor);
	color: var(--app-toolbar-panel-color);
}
.arcode-main-toolbar .side-resize:hover {
	background-color: var(--app-toolbar-panel-resize-bgcolor);
}
.side-resize:hover {
	background-color: var(--app-toolbar-panel-resize-bgcolor);
}
.arcode-main-toolbar-panel-title {
	background-color: var(--app-toolbar-panel-title-bgcolor);
	color: var(--app-toolbar-panel-title-color);
}
.arcode-notification-container {
	background-color: var(--app-notification-bgcolor);
	color: var(--app-notification-color);
}
.arcode-status-bar {
	background-color: var(--app-statusbar-bgcolor);
	color: var(--app-statusbar-color);
}

.arcode-workspace .workspace-bg {
	color: var(--app-toolbar-color);
}

.arcode-workspace .logo {
 -webkit-filter: Invert(var(--app-invert-img));
  filter: Invert(var(--app-invert-img));
}

.arcode-workspace .workspace .tabs {
  background-color: var(--app-toolbar-panel-bgcolor);
}

.arcode-workspace .workspace .editor {
	background-color: var(--app-background-bgcolor);
	color: var(--app-background-color);
}

.arcode-workspace .workspace .editor .ͼ2 .cm-content {
  caret-color: var(--app-background-color);
}

.cm-arcode-gutter {
  width: 20px;
}

.arcode-workspace .workspace .tabs .tabs-container .tab {
  background-color: var(--app-toolbar-panel-bgcolor);
  border-right: 2px solid var(--app-toolbar-bgcolor);
  border-top: 2px solid var(--app-toolbar-bgcolor);
  color: var(--app-toolbar-color);
}
.arcode-workspace .workspace .tabs .tabs-container .tab:hover, 
.arcode-workspace .workspace .tabs .tabs-container .tab.active {
  background-color: var(--app-background-bgcolor);
  border-right: 2px solid var(--app-background-bgcolor);
  border-top: 2px solid var(--app-background-bgcolor);
  color: var(--app-toolbar-color-hover);
}

.arcode-workspace .workspace .tabs .tabs-container .tab:hover {
  cursor: pointer;
}
.arcode-workspace .workspace .tabs .button {
  background-color: var(--app-background-bgcolor);
  color: var(--app-background-color);
}
.arcode-workspace .workspace .tabs .button:hover {
  background-color: var(--app-tabs-button-color-hoverbg);
}

.arcode-console-tab {
	background-color: var(--app-toolbar-panel-bgcolor);
	color: var(--app-toolbar-panel-color);
}

.modal-container {
	background-color: var(--app-background-bgcolor);
	color: var(--app-background-color);
	
}